* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #666699;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f1f2e;
    color: #ffffff;
    padding: 20px;
}

header h1 {
    padding-left: 50px;
}

.navigation {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 24px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

#banner {
    display: block;
}

section {
    display: flex;
    justify-content: space-between;
    min-height: 500px;
    align-items: center;
}

section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 10px;
    border-right: solid black;
}

section div {
    flex: 0 0 75%;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects {
    height: 100px;
    display: flex;
    align-items: flex-end;
    flex-basis: 48%;
    border: solid black 2px;
    padding:5px;
    background-image: linear-gradient();
}

.projects div {
    bottom: 0;
}

.projects:first-child {
    height: 400px;
    flex-basis: 100%;
}

.work {
    display: flex;
    justify-content: space-between;
}

.contact-me {
    display: flex;
    justify-content: space-around;
    min-height: 200px;
    align-items: center;
    text-align: left;
}

.contact-me nav{
    flex: 0 0 75%;
}